<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영상 비식별화 서비스</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div id="container">
        <header>
            <div id="logo">
                <a href="home.html">
                    <h1>MOJA</h1>
                </a>
            </div>
            <ul id="topMenu">
                <li><a href="deid.html">동영상 얼굴 비식별화</a></li>
            </ul>
        </header>
        <div id="contents">
            <div id="links">
                <ul>
                    <li>
                        <a href="deid.html">
                            <span id="deid-icon"></span>
                            <p>동영상 얼굴 비식별화</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="explanation">
                <h1>개발자 코멘트</h1>
                <hr>
                <p> contact us : tiktaalik135462@gmail.com
            </div>
        </div>
    </div>
</body>

</html>